body, ul, li {

    margin:0;
    font-size: large;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

:root{
    --black-color:#000000;
    --dark-color: #224b49;
    --gray-color: #F2751D;
    --card-color: #f3eed9;
    --light-color: white;
    --boton-color:#CF6A34;

}

body {
    box-sizing: border-box;
    position: relative;
    background-image: url(./b-image.jpg);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--dark-color);
    margin:0;
    padding: 5px;
    box-sizing: border-box;
}

.nav-header {
    
    width: 600px;
    margin: 0 auto;
    position:relative;
    
}

.cover {
    position: absolute;
    color: var(--light-color);
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    z-index: 1;
}

#coverhome {
    top:-4px;
    left:12px;
}

#covermenu{
    top:-4px;
    left:210px;
}

#covercontact{
    top:-4px;
    left:407px;
}

.blue-boton{
    background-color: var(--boton-color) ;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    line-height: 2.5rem;
    position: absolute;
    z-index: -1;
}

ul {
    list-style: none;
    margin: 15px;
    padding: 0;
    text-align: center;
    display: flex;
    height:45px;
    gap: 20px;
}

li {
    padding-top: 10px;
    flex: 1;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    border-radius: 5px 5px 5px 5px ;
}

/*Container fonts*/

.content{
    width:min(65rem,100%);
    background-color: rgba(0, 0, 0, .8);
    margin:15px auto;
    border: 0px solid var(--dark-color);
    padding: 3rem;
}

#content{
    width:min(65rem,100%);
    background-color: rgba(0, 0, 0, .8);
    margin:15px auto;
    border: 0px solid var(--dark-color);
    padding: 3rem;
}

.card {
    color: var(--dark-color);
    font-size: larger;
    width: min(100%, 50rem);
    min-height: 300px;
    margin:2rem auto;
    display:flex;
    background-color: var(--card-color);
    padding: 2rem 3rem;
    box-shadow: 10px 10px 5px var(--black-color);
    border-left: 10px solid var(--dark-color);
    border-top: 1px solid var(--dark-color);
    /* border-radius: 15px; */
}

.card-image {
    width: min(350px, 50%);
}

.card-text{
    width: min(500px, 50%);
    margin:0 auto;
}

.titulo-card {
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    color: var(--dark-color);
}

.titulo-principal {
    font-weight: bolder;
    font-size: 2rem;
    color: var(--light-color);
    
}

footer {
    background-color: var(--dark-color);
    padding:2rem;
}
